<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<!-- 상품 목록 -->
	<select id="getProductList" parameterType="map" resultType="com.ibcompany.dto.Product">
		select * from product order by category desc, pno desc 
		limit #{startRowNumber}, #{contentNumberPerPage}
	</select>
	
	<!-- 카테고리별 상품 목록 -->
	<select id="getCategoryList" parameterType="map" resultType="com.ibcompany.dto.Product">
		select * from product where category=#{category} order by pno desc
		limit #{startRowNumber}, #{contentNumberPerPage}
	</select>
	
	<!-- 총 상품 수 -->
	<select id="maxNum" resultType="int">
		select count(*) from product
	</select>
	
	<!-- 카테고리별 총 상품 수 -->
	<select id="categoryMaxNum" resultType="int">
		select count(*) from product where category=#{category}
	</select>
	
	<!-- 상품 상세 보기 -->	
	<select id="getProduct" resultType="com.ibcompany.dto.Product">
		select * from product where pno=#{pno}
	</select>
	
	<!-- 상품 등록 -->
	<insert id="insProduct">
		insert into product(category, pname, com, price, img, img2) 
		values (#{category}, #{pname}, #{com}, #{price}, #{img}, #{img2})
	</insert>
	
	<!-- 상품 변경 -->
	<update id="upProduct">
		update product set category=#{category}, pname=#{pname}, com=#{com}, price=#{price}, img=#{img}, img2=#{img2} where pno=#{pno}
	</update>
	
	<!-- 별점 업데이트 -->
	<update id="upStar" parameterType="map">
		update product set star=#{star}, rcnt=rcnt+#{rcnt} where pno=#{pno}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="delProduct">
		delete from product where pno=#{pno}
	</delete>
</mapper>